#navbar_container{
    width: 100%;
    height: calc(100vh - 90vh);
}
.navbar-brand{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar-brand h3 {
    color: rgb(54, 8, 54);
    font-weight: bold;

}

.navbar {
    position: sticky;
    top: 0px;
    z-index: 10;
    height: 10vh;
}

.modal-title {
    font-weight: bold;
    color: purple;
}

form label {
    font-weight: bold;
}

.nav-item button {
    width: 100px;
}

.navbar-box {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo-img{
    width: 100px;
    height:35px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;

}

.navbar-toggler{
    position: absolute;

    top: 0;
    right: 0;
    margin: 1rem 1rem 0 0;
}

/* .navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .logo-container {
    margin-top: 10px; /* Adjust this value as needed */



@media only screen and (min-width:768px) {
    .small-sidebar {
        display: none;
    }
 
}

@media only screen and (max-width:998px) {
    #navbar_container{
        width: 100%;
        height: max-content;
    }
    .navbar {
        height: max-content;
    }
}

@media only screen and (max-width: 365px) {

    .navbar-brand{
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 768px) {
    .logo-img{
        display: none;
    }
}