*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#tradingview_5078d{
    width: 100%;
    height: 80vh;
}

@media only screen and (max-width: 768px){
.tradingview-widget-container::-webkit-scrollbar{
    overflow-y:visible;
}
    
}