*{
  font-family:'Roboto',sans-serif;
}
.video-framing {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow: hidden;
  }

  .thumbnail-list{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    height: max-content;
    gap: 1rem;
    position: sticky;
    top: 0;
    overflow: none;
    z-index: 10;
  }

  
  .video-player-container {
    flex: 1;
    max-width: 70%;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .video {
    width: 100%;
  }
  
  .noVideoImg{
    width: 60%;
    height: 30%;
  }


  @media only screen and (max-width:375px){
    .noVideoImg{
      width: 100%;
      height: max-content;
    }
  }
  
  .thumbnail {
    /* margin: 8px; */
    cursor: pointer;
    /* border: 1px solid black; */
  }

  @media (max-width: 767px) {
    .video-framing {
      flex-direction: column;
    }
  
    .video-player-container {
      max-width: 100%;
    }
    .thumbnail-list{
        overflow: none;
    }
    .thumbnail-list::-webkit-scrollbar{
        display: none;
    }
  }
  
